/**
* Turbo-Framesの見える化
*/
// turbo-frame {
//     border: 1px red solid;
//     display: block;
// }

// turbo-frame::before {
//     content: "Frame: #" attr(id);
//     position: relative;
//     top: -14px;
//     right: -4px;
//     display: inline-block;
//     color: red;
//     font-size: 12px;
//     z-index: 9999;
//     background-color: white;
//     padding: 4px;
//     border: 1px red solid;
// }

html,
body{
    height: 100vh;
}

body{
    margin: 0 0 2% 0;
    box-sizing: border-box;
    
    & .content{
        padding: 1% 0 0 0;
        margin: 0 2% 0 2%;
        border-bottom: 1px solid grey;
        display: flex;
        height: 80%;
    }
    
    & .memo-{
        &nav{
            flex-basis: 30%;
            
            & .memo-list{
                max-height: 75%;
                overflow: scroll;
                overflow-x: hidden;

                & [id^="memo"]{
                    border-bottom: 1px solid;
                    padding: 12px 0 12px 0;
                    & a{
                        color: grey;
                        font-weight: 500;
                        text-decoration: none;
                    }
                }

                &-edit{
                    display: flex;
                    // vertical-align: middle;
                    align-items: center;
                    justify-content: space-between;

                    &-link{
                        width:20%;
                    }

                    &-img{
                        width: 25%;
                        height: 25%;
                        // margin-right: 5%;
                    }
                }
            }
        }

        &new{
            &-button{
                // display: flex;
                align-items: center;
                margin: 2% 0 2% 0;
                border-radius: 3px;
                position: relative;
                // display: flex;
                // justify-content: space-around;
                // align-items: center;
                // margin: 0 auto;
                text-align: center;
                max-width: 220px;
                padding: 10px 25px;
                color: #FFF;
                transition: 0.3s ease-in-out;
                font-weight: 600;
                background: rgb(149,202,252);
                background: linear-gradient(270deg, rgba(149,202,252,1) 0%, rgba(107,182,255,1) 100%);
                &:hover {
                    background: rgb(117,188,255);
                    background: linear-gradient(270deg, rgba(117,188,255,1) 0%, rgba(62,159,252,1) 100%);
                }
            }
            

            // &-img{
            //     margin-left:3%;
            //     max-width:8%;
            // }
        }
        
        &contents{
            flex-basis: 70%;

            & turbo-frame{
                height: 100%;
            }
        }
        
        &form{
            // min-height: 100vh;
            // min-width: 100vh;
            height:100%;
        }
        &field{
            width:100%;
            height:100%;
            min-height: 100%;
            box-sizing: border-box;
            // min-height: 100vh;
            font-size: 16px;
        }
    }
    
}


/* 
** The Header Media Queries **
** Tweak as per your needs **
*/
.brand {
    font-weight: bold;
    font-size: 20px;
    vertical-align: middle;
    text-decoration: none;
}

.site-header {
    background-color: #def7ff; 
    padding: 0 2% 0 2%;
    height: 10%;
}

.site-header__wrapper {
padding-top: 1rem;
padding-bottom: 1rem; }
@media (min-width: 600px) {
    .site-header__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 0;
        padding-bottom: 0; 
        height: 100%;
    } 
}
@media (min-width: 600px) {
.nav__wrapper {
    display: flex; } }

@media (max-width: 599px) {
.nav__wrapper {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: -1;
    background-color: #d9f0f7;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100%);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out; }
    .nav__wrapper.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0); } }

.nav__item a {
display: block;
padding: 1.5rem 1rem; }

.nav__toggle {
display: none; }
@media (max-width: 599px) {
    .nav__toggle {
    display: block;
    position: absolute;
    right: 1rem;
    top: 1rem; } }

/**
* 検索ボックス
*/
.search_bar{
    display: flex; /*アイコン、テキストボックスを調整する*/
    align-items: center; /*アイコン、テキストボックスを縦方向の中心に*/
    justify-content: center; /*アイコン、テキストボックスを横方向の中心に*/
    height: 50px;
    width: 80%;
    background-color: #ddd;
    margin-bottom: 5vh;
}

.search_icon{ /*アイコンに一定のスペースを設ける*/
    height: 15px;
    width: 15px;
    padding: 5px 5px;
    cursor: pointer;
}

#text2{
    font-size: 16px;
    width: 100%; /*flexの中で100%広げる*/
    background-color: #ddd;
    border: none; /*枠線非表示*/
    outline: none; /*フォーカス時の枠線非表示*/
    box-sizing: border-box; /*横幅の解釈をpadding, borderまでとする*/
}

/**************************\
  Basic Modal Styles
\**************************/

.modal {
font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
}

.modal__overlay {
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
background: rgba(0,0,0,0.6);
display: flex;
justify-content: center;
align-items: center;
}

.modal__container {
background-color: #fff;
padding: 30px;
max-width: 500px;
max-height: 100vh;
border-radius: 4px;
overflow-y: auto;
box-sizing: border-box;
}

.modal__header {
display: flex;
justify-content: space-between;
align-items: center;
}

.modal__title {
margin-top: 0;
margin-bottom: 0;
font-weight: 600;
font-size: 1.25rem;
line-height: 1.25;
color: #00449e;
box-sizing: border-box;
}

.modal__close {
background: transparent;
border: 0;
}

.modal__header .modal__close:before { content: "\2715"; }

.modal__content {
margin-top: 2rem;
margin-bottom: 2rem;
line-height: 1.5;
color: rgba(0,0,0,.8);
}

.modal__btn {
font-size: .875rem;
padding-left: 1rem;
padding-right: 1rem;
padding-top: .5rem;
padding-bottom: .5rem;
background-color: #e6e6e6;
color: rgba(0,0,0,.8);
border-radius: .25rem;
border-style: none;
border-width: 0;
cursor: pointer;
-webkit-appearance: button;
text-transform: none;
overflow: visible;
line-height: 1.15;
margin: 0;
will-change: transform;
-moz-osx-font-smoothing: grayscale;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
-webkit-transform: translateZ(0);
transform: translateZ(0);
transition: -webkit-transform .25s ease-out;
transition: transform .25s ease-out;
transition: transform .25s ease-out,-webkit-transform .25s ease-out;
}

.modal__btn:focus, .modal__btn:hover {
-webkit-transform: scale(1.05);
transform: scale(1.05);
}

.modal__btn-primary {
background-color: #00449e;
color: #fff;
}



/**************************\
Demo Animation Style
\**************************/
@keyframes mmfadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes mmfadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes mmslideIn {
from { transform: translateY(15%); }
    to { transform: translateY(0); }
}

@keyframes mmslideOut {
    from { transform: translateY(0); }
    to { transform: translateY(-10%); }
}

.micromodal-slide {
display: none;
}

.micromodal-slide.is-open {
display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
will-change: transform;
}
